body{
	background-color: #FFFFFF;
}

h1,h2,h3{
	font-family: arial, verdana, sans-serif;
	font-size: 20pt;
	color: #778899;
	text-align: center;
}

p {
	font-family: arial, verdana, sans-serif;
	font-size: 12pt;
	color: #778899;
	text-align: center;
}

#homepagelinks ul
{
list-style-type:none;
}

#homepagelinks ul li
{
font-family:arial, verdana, sans-serif;
color:fff;
text-align:center;
}

#homepagelinks ul li a
{
text-decoration:none;
color:fff;
}

#nav ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align:center;
}
	
#nav ul li {display:inline}

#nav ul li a 
{
	text-decoration:none;
	padding: .2em 1em;
	color: #fff;
	background-color:#778899;
	font-family:arial, verdana, sans-serif;
}

#nav ul li a:hover
{
background-color: #E6E6FA;
}	
div img{
	display:block;
	margin:0 auto;
}

#after submit {
	visibility:hidden;

}

